/* numeron.css */

@charset "utf-8";
@media screen and (max-width:600px) {
  h1 {
    font-size: 500% !important;
  }
  #icons {
    top: 52%;
    left: 47%;
    transform: translateY(-52%) translateX(-45%);
  }
  footer {
    font-size: 12px !important;
  }
}

html {
  padding: 0;
  margin: 0;
}
#header {
  position: relative;
  height: 97vh;  /*高さを全画面にあわせる*/
} 

#video-area {
  position: fixed;
  z-index: -1;  /*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  font-family: 'Dongle', 'Anton', sans-serif;
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-shadow: 0 0 15px #666;
  font-size: 1100%;
  animation-delay: 1.6s;
}

#icons {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateY(-55%) translateX(-50%);
}
#icons a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 15px #666;
  font-size: 300%;
  padding: 20px;
  transition: 0.3s;
  animation-delay: 3s;
}
#icons a:hover {
  transform: scale(1.2);
}
#icons a:active {
  transform: scale(0.8);
  color: #666;
}

.fadeAnime {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 1.2s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}